<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Ngambil views dari index.ejs</p>
    <p><a href='test'>Halaman Test</p>
  </body>
</html>
