<!DOCTYPE html>
<html>
  <head>
    <title>Test Aja</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Halaman Test</h1>
    <p>Ngambil views dari test.ejs</p>
    <p><a href='./'>Halaman Index</p>
  </body>
</html>
